# -------------------------
# NetBeans related folders
# -------------------------
nbproject/private/
build/
dist/

# -------------------------
# Compiled class file
# -------------------------
*.class

# -------------------------
# Log file
# -------------------------
*.log

# -------------------------
# Package Files
# -------------------------
*.war
*.ear
*.zip
*.tar.gz
*.rar
